
<div class="columns is-centered">
<div class="column is-one-third has-text-centered">
  <br>
  <p class="subtitle is-4">You seem lost.</p>
    <img src="/images/lost.png" alt="Lost" style="width:300px;height:300px;">
    <br><br>
  <h1 class="title is-1">404 - Not Found</h1>

</div>
</div>

<a href="/">Want to go home?</a>
