
<div class="container">
  <header>
    <!-- <img src="/images/comedy.png" alt="=Comedy" style="width:600px;height:300px;" class="img-responsive main-image"></header> -->
  <div class="col-md-8 col-md-offset-2">
    <h2>The Comedy Vault</h2>

    <div class="content">
      <p>Welcome to the Comedy Vault! This is a great place to create and store your work.<br>
        To get started, please <a href="/login">login</a> or  <a href="/signup">create an account</a></p>
    </div>


    <iframe width="420" height="345" src="https://www.youtube.com/embed/GWqtNLgb8_Q?autoplay=1&mute=1">
    </iframe><br>
  </div>
</div>
