<h1>New Joke Form</h1>

<form action="/jokes" method="post">

  <label>Name of Joke<input type="text" name="name" id="name"</label><br>

  <label>Joke description<input type="text" name="body" id="body"</label><br>

  <label>Is Joke complete?<input type="text" name="status" id="status"</label><br>

  <input type="submit" name="create_joke" value="Create joke">

</form>
<br><br><a href="/jokes/show"> See All in Vault </a> or go to <a href="/login">Account home</a><br><br>
<a href="/logout">Log Out</a>
