<form action="/signup" method="POST" style="border:1px solid #ccc">
  <div class="container">
    <h3>Create an Account by entering your email and choosing a password.</h3>


    <br><label for="username"><b>Username:</b></label>
    <input type="text" placeholder="Enter Username" name="username" id="username" required>
    <br><label for="email"><b>Email:</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email"required><br>
    <label for="psw"><b>Password:</b></label>
    <input type="password" placeholder="Enter Password" id="password" name="password" required>



    <div class="clearfix">
      <br>  <input class="btn btn-primary" type="submit">
      <br>
      <br><small><a href="/">cancel</a></small>
    </div>
  </div>
</form>
